* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

* {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background-color: #e6e6fa;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

a {
	color: #DD2C00;
	font-weight: 700;
}

h2,
p {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

h4 .text-uppercase {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

.navbar-dark .bg-primary .navbar-brand {
	display: flex;
	align-items: center;
	padding: 5px;
	color: #ffffff;
}

.navbar-brand img {
	height: 100%;
	margin-right: 20px;
	width: 50%;
}

.form-modal {
	color: #000;
}

input[type=password] {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	border: none;
	color: #000;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

.navbar-brand {
	height: 100%;
	display: inline-block;
	margin: auto;
}

.navbar-fixed-top {
	padding-top: 20px;
	background-color: #263238;
	min-height: 150px;
}

.navbar-brand .logo {
	max-width: 100%;
	margin-left: 15px;
}

.myNavbar {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

img {
	max-width: 100%;
}

.coverImg {
	margin-top: 250px;
}

.newsImg {
	margin-top: 250px;
	background-color: #C5CAE9;
}

ul li button {
	color: #ffffff;
	background-color: #000;
	margin-top: 25px;
}

.card-img-overlay p {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 18px;
}

.img-responsive {
	margin: 0 auto;
	size: 100%;
}

.genImage {
	width: 50%;
	height: 50%;
	border-radius: 25%;
}


/* -----------------------------Index.html -------------------------------------------*/

ul li a {
	color: #ffffff;
}

ul li a:hover {
	text-decoration: none;
	color: #1A237E;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

.collapse .navbar-collapse {
	color: #ffffff;
}

.navbar-toggle .icon-bar {
	background-color: #ffffff;
}

a .pt,
a .mn,
a .md,
a .dj {
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

a .pt:hover,
a .mn:hover,
a .md:hover,
a .dj:hover {
	color: #BF360C;
	background-color: #FFEBEE;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

.member-modal {
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.member-modal:hover {
	text-decoration: none;
	color: #BF360C;
	background-color: #EDE7F6;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

.heading-text {
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
}

.pt:hover,
.mn:hover,
.md:hover,
.dj:hover {
	text-decoration: none;
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.max-size .merry-body {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.3em;
}

.max-size .xmas-song {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}

.jumbotron .xmas-song-heading {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.7em;
}

.jumbotron .merry-body-heading {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 400;
	font-size: 1em;
}

.featured-text {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #000;
}

.modal-title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #000;
}

.m-body {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #000;
}

#horLine {
	border-color: #BDBDBD;
	border-width: 1px;
}

#horLine1 {
	border-color: #BDBDBD;
	border-width: 1px;
}

.top-img {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}

.top-img iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


/* 4x3 Aspect Ratio */

.top-img-4x3 {
	padding-top: 75%;
}

.max-size {
	overflow: hidden;
	position: relative;
}

.max-size iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: relative;
	top: 10;
	width: 100%;
}

.max-size-4x3 {
	padding-top: 0%;
}

.album .merry-body {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.3em;
}

.album .news-text1 {
	font-size: 1.1em;
	color: #B71C1C;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.album .news-text1 a:hover {
	font-size: 1.1em;
	text-decoration: none;
	color: #B71C1C;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.max-size .news-text1 {
	color: #B71C1C;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.3em;
}

.max-size .news-text1 a:hover {
	color: #B71C1C;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.3em;
}


/* ---------------------------------------------------------end Index ------------------------------*/

.hits {
	background-color: #E0E0E0;
}

.anniversary {
	background-color: #B0BEC5;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	padding: 25px;
}

.xmascontainer {
	background-color: #B0BEC5;
	padding: 25px;
}

.card album {
	max-height: 150px;
	max-width: 150px;
}

.xmas-img {
	margin-left: 65px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.wed-img {
	margin-left: 200px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.xmas-text,
.xmas-par {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

.anniver {
	font-family: 'Lato', sans-serif;
	color: #191970;
	font-weight: 300;
}

.xmas-wed {
	text-align: center;
}

.card-group {
	max-height: 400px;
}


/* Bottom right text */

.text-block {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: #EEEEEE;
	padding: 10px;
}

.top-image .xmas-song {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #000;
}

.top-image .merry-body {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #000;
}

.wed-img {
	overflow: hidden;
	padding-top: 10%;
	position: relative;
}

.wed-img iframe {
	border: 0;
	height: 100%;
	right: 0;
	position: relative;
	top: 10;
	width: 100%;
}

.wed-img-4x3 {
	padding-top: 0%;
}

.album .xmas-song {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 1.5em;
}

.card {
	width: 18rem;
}

.text-block,
.card-text {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

blockquote .card-text {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

.card-text3,
.card-text4 {
	margin-left: -20px;
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

blockquote .card-text6 {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

.text-block p {
	color: #000;
}

.news-text {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.fan-text:hover,
.news-text:hover,
.music-text:hover {
	text-decoration: none;
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

.text-muted {
	text-decoration: none;
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.text-block a:hover {
	text-decoration: none;
	color: #1A237E;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

h5 .card-title {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.43em;
}

.btn {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 700;
}

.btn {
	color: #ffffff;
	background-color: #424242;
	border-radius: 25%;
	padding: 5px;
}

.jumbotron .lead {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 2em;
}

.news-img-text li {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.3em;
}

.img-body .news-good-text {
	font-family: 'Lato', sans-serif;
	color: #FF4081;
	font-weight: 700;
	font-size: 1.3em;
}

.news-img .news-img-text {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.3em;
}

.album {
	display: inline;
}

.card-group::after {
	content: "";
	clear: both;
	display: table;
}


/*------------------------- Footer --------------------------------------------------------------------------*/

footer {
	color: #ffffff;
	min-height: 150px;
	display: block;
	margin-top: 30px;
	padding: 20px 5px;
	background-color: #263238;
}

#footerPage {
	clear: both;
	text-align: center;
}

.footer-text {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 300;
	padding-top: 50px;
	text-align: left;
	margin-left: 50px;
}

.footer-text a {
	color: #ffffff;
	text-decoration: none;
}

.media-links {
	padding-top: 40px;
	margin-right: 25px;
}

.media-links li a i {
	width: 40px;
	height: 40px;
	padding: 15px 0;
	border-radius: 50%;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
	color: #0000cd;
	background: #e0ffff;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

.media-links li a i:hover {
	background: #4DB6AC;
	text-decoration: none;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}


/* -----------------------------------------------------------tooltip---*/

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted red;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}


/* ----------------------------------------------------------------------Footer-End --------------*/

.signIndent {
	margin-top: 30px;
	font-size: 1.14em;
}

.signupLogin {
	margin-right: 140px;
	margin-top: -10px;
}

.menuIndent {
	margin-right: 25px;
}


/*------------------------------------------------------------News---*/

.news-title {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.43em;
}

.img-top {
	max-width: 70%;
}

.jumbotron,
.display-4 {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 2.5em;
}

.news-img-top {
	width: 100%;
}

.card-img-top {
	max-width: 100%;
}

.img-body1 .img-news {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 1.5em;
	padding: 10px;
	text-align: center;
}

.micky-img-top {
	width: 100%;
}

.img-news {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.6em;
}

.news-img-text1 {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.1em;
}

.title-img-text .img-news {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.6em;
}

.date-news {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.news-img-text {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.2em;
}

.micky-img .news-img-text-p {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.5em;
}

.cite-img-text {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.3em;
}

.img-body1 .news-img-text {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.1em;
}

.img-body1 .news-concert1 {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}

.cite-img-text .show {
	color: #1A237E;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1em;
}

.img-text .news-img-text {
	font-family: 'Lato', sans-serif;
	color: red;
	font-weight: 600;
	font-size: 1.3em;
}

.img-text .xmas-img-text {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
}

.micky-img {
	background-color: #EEEEEE;
}

.news-img-text2 li {
	color: #ffffff;
	background-color: #81D4FA;
}

.nes-date {
	padding: 60px;
}

.img-text {
	padding: 30px;
	background-color: #EFEBE9;
	margin-bottom: 10px;
}

.img-body .news-img-text {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.5em;
}

.news-concert {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	text-align: center;
}

.micky-img .news-concert1 {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
	text-align: center;
}

.news-img-text2 li {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.3em;
}

.news-img-text3 {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.3em;
}

.ocean {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 0.9em;
}


/*-------------------------------------------------------------Music--*/

.music-image .img-text {
	color: #000;
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 2.3em;
	font-weight: 600;
}

.hit-music {
	margin-top: 150px;
}

.music-image {
	height: 500px;
	width: 100%;
	background-image: url("../images/concert2.jpg");
	background-size: 100% 100%;
	transition: all .5s ease-in-out;
}

.text-white .img-body {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.8em;
}

.music-text-white .img-body {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.8em;
}

.music-text .img-text {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 2.2em;
	color: #000;
	text-align: center;
}

.music-text .img-body {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.1em;
	color: #000;
	text-align: center;
}

.img-text1 {
	padding: 30px;
	margin-bottom: 10px;
	color: #ffffff;
}

.text2 {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	margin-top: 30px;
	text-align: center;
}

.text2 .music-text {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.3em;
	margin-top: 30px;
	text-align: center;
}

.music-text1 {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.3em;
}

.music-text1-hits {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.3em;
	margin-left: 35px;
}

.music-text1:hover {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	color: #0000cd;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

.text2 .img-body {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1em;
	margin-top: 30px;
	text-align: center
}

.music-text {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 2em;
}

.audio-text {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 2em;
}

.music-text2 .img-body {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 2em;
	color: #000;
}

.card-text-music {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
}

.text-white .img-text {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 3em;
}


/*------------------------------------------------------------------End-Music---------------*/


/* --------------------------------------------------------------------Fan-----*/


/* Style the content */

.post {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #c0c0c0;
	padding: 80px;
}

.post1 {
	text-align: center;
	background-color: #AB47BC;
	padding: 30px 30px 40px 35px;
}

.post1 .tour-div {
	margin-bottom: 40px;
}

.post-text-frm {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 2.5em;
}

.fan-img1 {
	margin: 20px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.fan-img2 {
	margin: 20px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.unwrap-img {
	width: 50%
}

.post1 .tour-text {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}

.tour-text:hover {
	text-decoration: none;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

.post-text {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 2.1em;
}

.post-text2 {
	font-size: 1.87em;
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 500;
}

.name-text {
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #000;
}

.header-text {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.order-text {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.ord-frm {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #9FA8DA;
	padding: 25px;
}

.jumbotron .display-fan {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 1.5em;
}

.jumbotron .lead {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 0.9em;
}

.post-text-frm {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 700;
	font-size: 1.7em;
}

.tour-text1 {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
}

.tour-text1:hover {
	color: #000;
	background-color: #F3E5F5;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 1.4em;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

.tour-text {
	font-size: 1.87em;
	color: #000;
	float: left;
}

div.post1 p {
	word-wrap: break-word;
	text-align: left;
}

.post1 .card-img-top {
	max-width: 100%;
}

.post1 .post-text {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 2em;
	text-align: left;
}

.post1 .card-img-top3 {
	max-width: 80%;
	padding-top: 50px;
	padding-bottom: 50px;
}


/* --------------------------------------------------------------------End Fan-----*/

.video-header {
	text-align: center;
	padding: 15px;
}

.video-header2 {
	text-align: center;
	padding-right: 300px;
}

.video-row {
	display: -ms-flexbox;
	/* IE10 */
	display: flex;
	-ms-flex-wrap: wrap;
	/* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
	margin-left: 150px;
}

.learn-fan-text {
	font-family: 'Lato', sans-serif;
	color: #B71C1C;
	font-weight: 700;
	font-size: 1.5em;
}

.learn-fan-text:hover {
	font-family: 'Lato', sans-serif;
	color: #8a2be2;
	font-weight: 700;
	font-size: 1.5em;
	text-decoration: none;
}


/* Create four equal columns that sits next to each other */

.video-col {
	-ms-flex: 25%;
	/* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.video-col img {
	margin-top: 8px;
	vertical-align: middle;
}


/*-----------------------------------------------------------------contact-----*/

.contact-text-body {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #4A148C;
}

.contact-text-body a:hover {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
	color: #880E4F;
}

.contact-text-body p a {
	color: #1A237E;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.contact-text {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

.center-form {
	text-align: center;
}

.contact-text,
.card-title8,
.card-text8 {
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	color: #000;
}

.card-text8 a:hover {
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-weight: 500;
	color: #000;
}

.contact-header {
	font-size: 1.7em;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	color: #000;
}

.card-text7 {
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	color: #000;
}

.member-name {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #000;
}


/*-------------------media queries ---------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
	.text-block {
		display: none;
	}
	body {
		background-color: #E3F2FD;
	}
	header {
		font-size: 1.5em;
	}
	.video-stack2 {
		margin-left: -10px;
	}
	.video-row2 {
		margin-right: 10px;
	}
	.audio-text2 {
		/*font-size: 5vw;*/
		text-align: center;
	}
	.music-text .img-text {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		color: #000;
		text-align: center
	}
	.music-text .img-body {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1em;
		color: #000;
	}
	.ord-frm input {
		font-size: 1.2em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	.micky-img .news-concert1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.6em;
		text-align: center;
		padding: 15px;
	}
	.ord-frm textarea {
		font-size: 1.2em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	.micky-img-top {
		width: 100%;
	}
	.cite-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.6em;
	}
	.date-news {
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
	}
	.djImage {
		width: 40%;
	}
	.genImage {
		width: 40%;
	}
	.coverImg {
		margin-top: 285px;
	}
	.contact-text,
	.card-title8,
	.card-text8 {
		font-size: 2.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	.tour-text,
	.fan-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.2em;
	}
	.news-text {
		font-size: 1.5em;
	}
	.news-img-top {
		width: 100%;
	}
	.post-text-frm {
		font-family: 'Lato', sans-serif;
		color: #000;
		;
		font-weight: 700;
		font-size: 2.5em;
	}
	.img-top {
		max-width: 55%;
	}
	.img-good {
		max-width: 70%;
	}
	.music-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 3em;
	}
	.text2 .img-body {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.3em;
		margin-top: 30px;
		text-align: center
	}
	.audio-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 3em;
	}
	.card-text-music {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2.5em;
	}
	.post1 .post-text {
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2em;
	}
	.my-4 {
		font-size: 2.5em;
	}
	.center-form {
		text-align: center;
	}
	.form-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.6em;
	}
	.ord-frm .post-text2 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.8em;
	}
	.card-title {
		font-size: 2em;
	}
	.card-text {
		font-size: 2em;
	}
	.card-img-bottom {
		width: 100%;
	}
	.heading-text {
		font-size: 2em;
	}
	.member-name,
	.member-model {
		font-size: 2em;
	}
	.modal-body {
		font-size: 2em;
	}
	.card-text4 {
		font-size: 1.5em;
		margin-left: 5px;
	}
	small {
		font-size: 1.5em;
	}
	img {
		width: 100%;
	}
	#footerPage {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2em;
		clear: both;
		text-align: center;
		padding-bottom: 20px;
	}
	.member-modal {
		font-size: 2em;
	}
	.album .news-text1 {
		font-size: 2.1em;
		color: #B71C1C;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
	}
	.album .news-text1:hover {
		font-size: 2.1em;
		text-decoration: none;
		color: #B71C1C;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
	}
	a {
		color: #DD2C00;
		font-weight: 700;
	}
	.card-text-music {
		font-size: 2em;
	}
	.music-text {
		font-size: 2.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		color: #000;
	}
	.audio-text {
		font-size: 2.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		color: #000;
	}
	.featured-text {
		font-size: 3em;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.member-name {
		font-size: 2em;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.learn-fan-text {
		font-family: 'Lato', sans-serif;
		color: #B71C1C;
		font-weight: 700;
		font-size: 1.5em;
	}
	.learn-fan-text:hover {
		font-family: 'Lato', sans-serif;
		color: #8a2be2;
		font-weight: 700;
		font-size: 2.2em;
		text-decoration: none;
	}
	.jumbotron .xmas-song {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 3.5em;
	}
	#myModalLabel {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 2em;
	}
	#myModalLabel6 {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 2em;
	}
	.jumbotron .merry-body {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 2.5em;
	}
	.wed-img {
		margin-left: 75px;
	}
	.album .xmas-song {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #000;
		font-size: 2em;
	}
	.album .merry-body {
		font-size: 1.8em;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		color: #000;
	}
	.max-size .news-text1 {
		color: #B71C1C;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.6em;
	}
	.max-size .news-text1 a:hover {
		color: #B71C1C;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
	}
	.xmas-img {
		overflow: hidden;
		padding-top: 56.25%;
		position: relative;
	}
	.xmas-img iframe {
		border: 0;
		height: 100%;
		left: 0;
		position: relative;
		top: 10;
		width: 100%;
	}
	.xmas-img-4x3 {
		padding-top: 0%;
	}
	.wed-img {
		overflow: hidden;
		padding-top: 10%;
		position: relative;
	}
	.wed-img iframe {
		border: 0;
		height: 100%;
		right: 0;
		position: relative;
		top: 10;
		width: 100%;
	}
	.wed-img-4x3 {
		padding-top: 0%;
	}
	.max-size {
		text-align: center;
		margin: 20px;
	}
	.navbar-header .logo {
		max-width: 100%;
		margin-left: -60px;
		float: left;
	}
	.navbar-form {
		margin-top: -120px;
		margin-left: 350px;
	}
	.signupLogin {
		margin-right: 20px;
		padding-bottom: 20px;
	}
	.article-img {
		width: 70%;
	}
	.footer-text a {
		color: #ffffff;
		font-size: 1.2em;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	#footerPage {
		padding-bottom: 25px;
	}
	#footerPage .footer-text {
		clear: both;
		text-align: center;
		color: #ffffff;
	}
	.footer-text a:hover {
		color: red;
		text-decoration: none;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	.media-links {
		padding-top: 50px;
		margin-right: 25px;
	}
	.media-links li a i {
		width: 55px;
		height: 55px;
		padding: 20px 0;
		border-radius: 60%;
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		color: #0000cd;
		background: #e0ffff;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	.media-links li a i:hover {
		background: #4DB6AC;
		text-decoration: none;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	.img-responsive {
		margin: 0 auto;
		size: 100%;
	}
	.music-image .img-text {
		color: #ffffff;
		margin-top: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		font-weight: 600;
	}
	.music-image .img-body {
		color: #ffffff;
		margin-top: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 2.5em;
		font-weight: 700;
	}
	.music-text1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2em;
	}
	.music-text1-hits {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2em;
		margin-left: 68px;
	}
	.music-text1:hover {
		color: #000;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2em;
	}
	.music-image .img-text {
		color: #fff;
		margin-top: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 3em;
		font-weight: 700;
	}
	.music-image .img-body {
		color: #ffffff;
		margin-top: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		font-weight: 600;
	}
	.news-img-text2 li {
		color: red;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.4em;
	}
	.news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.5em;
	}
	.news-img-text li {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.2em;
	}
	.news-img .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.2em;
	}
	.img-body .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.8em;
	}
	.img-body ul .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 2.3em;
	}
	.news-concert {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.1em;
	}
	.img-body .news-concert {
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.1em;
	}
	.img-body1 .news-concert1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1em;
		text-align: center;
	}
	.img-body1 .news-img-text {
		color: red;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1em;
	}
	.img-news {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.6em;
	}
	.news-img-text1 {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.3em;
	}
	.img-text .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 2em;
	}
	.post-text-frm {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 1.5em;
	}
	.tour-text1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2em;
	}
	input[type=submit] {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		width: 250px;
		padding: 20px;
		margin: 8px 0;
		border-radius: 4px;
		font-size: 1.5em;
	}
	input[type=email],
	input[type=password] {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		border: none;
		padding: 16px 32px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
	}
	.music-text2 .img-body {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2em;
		color: #000;
	}
	.form-text {
		font-size: 1.5em;
	}
	.post-text2 {
		font-size: 1.5em;
	}
	.name-text {
		font-size: 0.9em;
	}
	.card-title {
		font-size: 1.5em;
	}
	.card-text {
		font-size: 1.4em;
	}
	.card-img-bottom {
		width: 100%;
	}
	.heading-text {
		font-size: 1.5em;
	}
	.member-name,
	.member-model {
		font-size: 1.5em;
	}
	.modal-body {
		font-size: 1.5em;
	}
	.card-body .card-text3 {
		font-size: 1.5em;
	}
	.card-text4 {
		font-size: 0.8em;
		margin-left: 5px;
	}
	small {
		font-size: 1.3em;
	}
	img {
		width: 100%;
	}
	.post1 .tour-text {
		margin: 10px;
		font-size: 2em;
		padding-left: 10pt;
	}
	.tour-text:hover {
		text-decoration: none;
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.card-img-top {
		max-width: 100%;
	}
	.post1 .card-img-top3 {
		max-width: 70%;
		margin-top: 30px;
		padding-bottom: 60px;
	}
	.jumbotron .xmas-song-heading {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.7em;
	}
	.jumbotron .merry-body-heading {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 400;
		font-size: 1em;
	}
	.max-size .merry-body {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2em;
	}
	.max-size .xmas-song {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.1em;
	}
	.img-body1 .news-img-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 0.9em;
		text-align: center;
	}
	.music-text2 .img-body {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.8em;
		color: #000;
	}
	.music-text2 .music-text {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2em;
		color: #000;
	}
	.clearInput {
		width: 100%;
		height: 50px;
		font-size: 20px;
		color: #000;
	}
	.center-form {
		text-align: center;
	}
	.contact-form {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 3em;
		width: 100%;
		text-align: center;
	}
	.contact-header {
		font-size: 3em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.text2 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		margin-top: 30px;
		text-align: center;
	}
	.text2 .music-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		margin-top: 30px;
		text-align: center;
	}
	.img-text .xmas-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.5em;
		text-align: center;
	}
	.micky-img {
		background-color: #EEEEEE;
		padding: 60px;
		margin-top: 30px;
	}
	.news-img-text2 li {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		color: #ffffff;
		background-color: #81D4FA;
		font-size: 1.8em;
	}
	.nes-date {
		padding: 60px;
	}
	.img-text {
		padding: 30px;
		background-color: #EFEBE9;
		margin-bottom: 10px;
	}
	.title-img-text .img-news {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 2em;
	}
	.img-body1 .img-news {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.2em;
		padding: 10px;
		text-align: center;
	}
	.img-body1 .news-img-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.3em;
	}
	.micky-img .news-img-text-p {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.8em;
		padding: 25px;
	}
}


/* ---------------------------------------media queries------------------------------------------*/

@media (min-width: 992px) and (max-width: 1024px) {
	.text-block {
		display: none;
	}
	body {
		background-color: #E0F2F1;
	}
	header {
		font-size: 1.5em;
	}
	.contact-form {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 3em;
		width: 100%;
	}
	.micky-img .news-concert1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.4em;
		text-align: center;
	}
	.navbar-header .logo {
		max-width: 70%;
		margin-left: -100px;
	}
	.ord-frm input {
		font-size: 1.1em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	.ord-frm textarea {
		font-size: 1.2em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	.ord-frm {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		background-color: #9FA8DA;
		padding-bottom: 119px;
	}
	.cite-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.6em;
	}
	.micky-img .news-img-text-p {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.8em;
		padding: 25px;
	}
	.music-text1-hits {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2em;
		margin-left: 30px;
	}
	.img1 {
		width: 100%;
	}
	.img-top {
		max-width: 100%;
	}
	.micky-img-top {
		width: 100%;
	}
	input[type=email],
	input[type=password] {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		border: none;
		padding: 16px 32px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
		font-size: 1.2em;
	}
	.music-text {
		color: red;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2em;
	}
	.post1 .post-text {
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2em;
	}
	.post1 {
		text-align: center;
		background-color: #AB47BC;
		padding: 40px 25px 20px 20px;
	}
	.date-news {
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
	}
	.news-img-top {
		width: 100%;
	}
	.audio-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.5em;
	}
	.center-form {
		text-align: center;
	}
	.form-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1em;
	}
	.video-stack2 {
		margin-left: -10px;
	}
	.video-row2 {
		margin-right: 10px;
	}
	.audio-text2 {
		text-align: center;
	}
	.card-text-music {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2em;
	}
	.btn {
		color: white;
		background-color: #424242;
		border-radius: 25%;
		padding: 10px;
	}
	.contact-btn {
		text-align: center;
	}
	.ptImage {
		width: 40%;
	}
	.mnImage {
		width: 40%;
	}
	.mdImage {
		width: 40%;
	}
	.djImage {
		width: 40%;
	}
	.genImage {
		width: 70%;
	}
	.coverImg {
		margin-top: 285px;
	}
	.contact-text,
	.card-title8,
	.card-text8 {
		font-size: 2em;
	}
	.post1 .tour-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.4em;
		padding-left: 10px;
	}
	.tour-text:hover {
		text-decoration: none;
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.post-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 2.2em;
	}
	.img-text .xmas-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.5em;
		text-align: center;
	}
	.micky-img {
		background-color: #EEEEEE;
	}
	.nes-date {
		padding: 60px;
	}
	.img-text {
		padding: 30px;
		background-color: #EFEBE9;
		margin-bottom: 10px;
	}
	.my-4 {
		font-size: 2em;
	}
	.form-text {
		font-size: 1.5em;
	}
	.post-text2 {
		font-size: 2.3em;
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 500;
	}
	.name-text {
		font-size: 0.9em;
	}
	.card-title {
		font-size: 1.5em;
	}
	.card-text {
		font-size: 1.4em;
	}
	.card-img-bottom {
		width: 100%;
	}
	.text2 .img-body {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.3em;
		margin-top: 30px;
		text-align: center
	}
	.heading-text {
		font-size: 1.5em;
	}
	.member-model {
		font-size: 1.5em;
	}
	.modal-body {
		font-size: 1.5em;
	}
	.card-text4 {
		font-size: 0.8em;
		margin-left: 5px;
	}
	small {
		font-size: 1.3em;
	}
	img {
		width: 100%;
	}
	#footerPage {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
		clear: both;
		text-align: center;
		margin-top: 200px;
	}
	.wed-img {
		font-size: 1.5em;
	}
	.member-name {
		font-size: 1.6em;
	}
	.featured-text {
		font-size: 2.4em
	}
	.member-modal {
		font-size: 1.8em;
	}
	.anniversary {
		font-size: 1em;
	}
	.anniversary .news-text {
		font-size: 1.2em;
	}
	.album .card-title {
		font-size: 1.4em;
	}
	a {
		color: #DD2C00;
		font-weight: 700;
	}
	.read-text {
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2em;
	}
	.learn-text1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
	}
	.learn-fan-text {
		font-family: 'Lato', sans-serif;
		color: #B71C1C;
		font-weight: 700;
		font-size: 1.5em;
	}
	.learn-fan-text:hover {
		font-family: 'Lato', sans-serif;
		color: #8a2be2;
		font-weight: 700;
		font-size: 1.2em;
		text-decoration: none;
	}
	.jumbotron .lead {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.2em;
	}
	.album .xmas-song {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #000;
		font-size: 1.8em;
	}
	.xmas-img {
		overflow: hidden;
		padding-top: 56.25%;
		position: relative;
	}
	.xmas-img iframe {
		border: 0;
		height: 50%;
		left: 0;
		position: relative;
		top: 10;
		width: 50%;
	}
	.xmas-img-4x3 {
		padding-top: 0%;
	}
	.navbar-header .logo {
		max-width: 80%;
		margin-left: -70px;
	}
	.navbar-form .search {
		margin-top: -50px;
		margin-left: 350px;
	}
	.signupLogin {
		margin-right: 30px;
		padding-bottom: 30px;
	}
	.article-img {
		width: 70%;
	}
	.jumbotron .xmas-song {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 3em;
	}
	.post1 .card-img-top3 {
		max-width: 80%;
	}
	.album .merry-body {
		font-size: 1.8em;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		color: #000;
	}
	.max-size .news-text1 {
		color: #B71C1C;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.6em;
	}
	.max-size .news-text1 a:hover {
		color: #B71C1C;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
	}
	.footer-text a {
		color: #ffffff;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	#footerPage .footer-text {
		clear: both;
		text-align: center;
		font-size: 1.3em;
	}
	.footer-text a:hover {
		color: #000;
		text-decoration: none;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	.media-links {
		padding-top: 50px;
		margin-right: 25px;
	}
	.media-links li a i {
		width: 55px;
		height: 55px;
		padding: 20px 0;
		border-radius: 60%;
		font-size: 18px;
		line-height: 18px;
		text-align: center;
		color: #0000cd;
		background: #e0ffff;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	.media-links li a i:hover {
		background: #4DB6AC;
		text-decoration: none;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	.img-responsive {
		margin: 0 auto;
		size: 100%;
	}
	.music-image .img-text {
		color: #ffffff;
		margin-top: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		font-weight: 600;
	}
	.music-image .img-body {
		color: #ffffff;
		margin-top: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
		font-weight: 600;
	}
	.music-text .img-text {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2.4em;
		color: #000;
	}
	.title-img-text .img-news {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 2em;
	}
	.max-size .news-text1 {
		color: #B71C1C;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.6em;
	}
	.max-size .news-text1 a:hover {
		color: #B71C1C;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
	}
	.music-text1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2.3em;
	}
	.text-white .img-text {
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 3em;
	}
	.text-white .img-body {
		color: #fff;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2.5em;
	}
	.news-img-text2 li {
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.1em;
	}
	.news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.3em;
	}
	.news-img-text li {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.2em;
	}
	.news-img .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.2em;
	}
	.img-body .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.8em;
	}
	.img-body ul .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 2.3em;
	}
	.news-concert {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.2em;
	}
	.img-body .news-concert {
		color: white;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.3em;
	}
	.img-body1 .news-concert1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1em;
		margin-left: 10px;
	}
	.img-body1 .news-img-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
	}
	.img-news {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.6em;
	}
	.news-img-text1 {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.3em;
	}
	.img-text .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 2em;
	}
	.post-text-frm {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 2em;
	}
	.tour-text1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2em;
	}
	.post1 .tour-text {
		margin: 10px;
		font-size: 1.7em;
		padding-left: 10pt;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	.card-img-top {
		max-width: 100%;
	}
	.card-img-top1 {
		max-width: 100%;
	}
	.max-size .merry-body {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.6em;
	}
	.max-size .xmas-song {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.8em;
	}
	.music-text2 .img-body {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.8em;
		color: #000;
	}
	.music-text2 .music-text {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 2em;
		color: #000;
	}
	.album .news-text1 {
		color: #B71C1C;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.7em;
	}
	.entire-form {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.8em;
		max-width: 100%;
	}
	.card-text8 {
		font-size: 1.5em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.card-text8 a {
		font-size: 1.5em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.card-title8 {
		font-size: 2.5em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.center-form {
		text-align: center;
	}
	.card-text7 {
		font-size: 2.5em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		text-align: center;
	}
	.contact-header {
		font-size: 3em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.clearInput {
		width: 100%;
		height: 50px;
		font-size: 20px;
		color: #000;
	}
	.text2 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		margin-top: 30px;
		text-align: center;
	}
	.text2 .music-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		margin-top: 30px;
		text-align: center;
	}
	.music-text .img-body {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.3em;
		color: #000;
	}
	.img-body1 .img-news {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.2em;
		padding: 10px;
		text-align: center;
	}
}

@media screen and (max-width: 550px) {
	body {
		background-color: #F3E5F5;
	}
	.text-block {
		display: none;
	}
	.ptImage {
		width: 40%;
	}
	.mnImage {
		width: 40%;
	}
	.mdImage {
		width: 40%;
	}
	.djImage {
		width: 40%;
	}
	.genImage {
		width: 40%;
	}
	.img-responsive {
		margin: 0 auto;
		size: 100%;
	}
	.coverImg {
		margin-top: 200px;
	}
	.wed-song {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1em;
		color: #000;
	}
	.album .xmas-song {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #000;
		font-size: 1.3em;
	}
	.wed-body {
		font-size: 0.9em;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		color: #000;
	}
	.date-news {
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
	}
	.cite-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.3em;
	}
	.album .merry-body {
		font-size: 1.2em;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		color: #000;
	}
	.news-img-top {
		width: 100%;
	}
	.jumbotron,
	.display-4 {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 1.37em;
		margin-top: 20px;
	}
	.news-text2 {
		font-size: 1em;
	}
	.card-text-music {
		font-size: 1em;
	}
	.featured-text {
		font-size: 1.5em;
	}
	.member-name {
		font-size: 1.1em;
	}
	.heading-text {
		font-size: 0.9em;
	}
	.xmas-img {
		font-size: 1.5em;
		margin-left: -5px;
	}
	.tour-text,
	.fan-text,
	.news-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
	}
	.album .news-text1 {
		color: #B71C1C;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.2em;
	}
	.max-size .news-text1 {
		color: #B71C1C;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1em;
	}
	.max-size .news-text1 a:hover {
		color: #B71C1C;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1em;
	}
	.learn-text1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 0.9em;
	}
	.music-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1em;
	}
	.audio-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.3em;
	}
	.music-text1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.3em;
	}
	.post-text-frm {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 1.5em;
	}
	.post-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 1.8em;
	}
	.navbar-collapse {
		margin-right: 125px;
	}
	.navbar-header .logo {
		max-width: 100%;
		margin-left: -125px;
	}
	.navbar-form {
		margin-top: 50px;
	}
	.signupLogin {
		margin-left: 210px;
		margin-top: -150px;
	}
	.jumbotron .xmas-song {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 1.5em;
	}
	.jumbotron .merry-body {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 1em;
	}
	.post-text2 {
		font-size: 1.1em;
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 500;
	}
	.anniversary .card-title {
		font-size: 1em;
	}
	a {
		color: #DD2C00;
		font-weight: 700;
	}
	.wed-img {
		max-width: 40%;
	}
	.xmas-img {
		max-width: 40%;
	}
	.read-text {
		font-family: 'Lato', sans-serif;
		color: #B71C1C;
		font-weight: 700;
		font-size: 0.8em;
	}
	.jumbotron .display-fan {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 1.2em;
	}
	.learn-fan-text {
		font-family: 'Lato', sans-serif;
		color: #B71C1C;
		font-weight: 700;
		font-size: 1em;
	}
	.learn-fan-text:hover {
		font-family: 'Lato', sans-serif;
		color: #8a2be2;
		font-weight: 700;
		font-size: 0.8em;
		text-decoration: none;
	}
	.top-img {
		overflow: hidden;
		padding-top: 56.25%;
		position: relative;
	}
	.top-img iframe {
		border: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	/* 4x3 Aspect Ratio */
	.top-img-4x3 {
		padding-top: 75%;
	}
	.xmas-img {
		overflow: hidden;
		padding-top: 56.25%;
		position: relative;
	}
	.xmas-img iframe {
		border: 0;
		height: 50%;
		left: 0;
		position: relative;
		top: 10;
		width: 50%;
	}
	.xmas-img-4x3 {
		padding-top: 0%;
	}
	.wed-img {
		overflow: hidden;
		padding-top: 10%;
		position: relative;
	}
	.wed-img iframe {
		border: 0;
		height: 50%;
		right: 0;
		position: relative;
		top: 10;
		width: 50%;
	}
	.wed-img-4x3 {
		padding-top: 0%;
	}
	.top-image {
		margin-left: -10px;
	}
	.album .xmas-song {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #000;
		font-size: 1.3em;
	}
	.jumbotron .merry-body {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.2em;
		color: #000;
	}
	.media-links {
		padding-top: 25px;
		margin-right: 25px;
	}
	.media-links li a i {
		width: 40px;
		height: 40px;
		padding: 15px 0;
		border-radius: 50%;
		font-size: 14px;
		line-height: 15px;
		text-align: center;
		color: #0000cd;
		background: #e0ffff;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	.media-links li a i:hover {
		background: #4DB6AC;
		text-decoration: none;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	.music-image .img-text {
		color: #ffffff;
		margin-top: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		font-weight: 600;
	}
	.music-image .img-body {
		color: #ffffff;
		margin-top: 20px;
		font-family: 'Lato', sans-serif;
		font-size: 1.5em;
		font-weight: 600;
	}
	.footer-text {
		color: #ffffff;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 1.3em;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
		padding-top: 30px;
	}
	.footer-text a {
		color: #ffffff;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	#footerPage {
		clear: both;
		text-align: center;
		max-height: 270px;
	}
	.footer-text a:hover {
		color: #000;
		text-decoration: none;
		transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-webkit-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
	}
	.news-img-text2 li {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.3em;
	}
	.news-concert {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.2em;
	}
	.news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1em;
		text-align: center;
	}
	.news-img-text li {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 0.7em;
	}
	.news-img .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 0.8em;
	}
	.img-body .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.3em;
	}
	.img-body ul .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.3em;
	}
	.news-concert {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.3em;
	}
	.img-body .news-concert {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.4em;
	}
	.img-body1 .news-concert1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 0.8em;
	}
	.img-body1 .news-img-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1em;
	}
	.img-body1 .img-news {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.6em;
	}
	.img-news {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.2em;
	}
	.news-img-text1 {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1em;
	}
	.img-text .news-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1em;
	}
	.post {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		background-color: #c0c0c0;
		padding: 10px;
		font-size: 2em;
		color: #000;
	}
	.tour-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 0.6em;
	}
	.tour-text1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.2em;
	}
	.fan-img1 {
		margin: 20px 0;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	#form {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.3em;
	}
	.jumbotron .lead {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1em;
	}
	input[type=submit] {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		width: 250px;
		padding: 20px;
		margin: 8px 0;
		border-radius: 4px;
		font-size: 1.5em;
	}
	input[type=email],
	input[type=password] {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		border: none;
		padding: 16px 32px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
	}
	.jumbotron .xmas-song-heading {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.7em;
	}
	.jumbotron .merry-body-heading {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 400;
		font-size: 1em;
	}
	.audio-center {
		margin-left: -35px;
	}
	.post1 .tour-text {
		margin: 10px;
		font-size: 1.3em;
		padding-left: 10px;
	}
	.card-img-top {
		width: 80%;
	}
	.card-img-top1 {
		max-width: 100%;
	}
	.max-size .merry-body {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.2em;
	}
	.max-size .xmas-song {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.4em;
	}
	.music-text2 .img-body {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.3em;
		color: #000;
	}
	.music-text .img-body {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.3em;
		color: #000;
	}
	.music-text2 .music-text {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.6em;
		color: #000;
	}
	.btn {
		color: white;
		background-color: #424242;
		border-radius: 25%;
		padding: 10px;
	}
	.clearInput {
		width: 100%;
		height: 50px;
		font-size: 20px;
		color: #000;
	}
	.contact-header {
		font-size: 2.4em;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
	}
	.center-form {
		text-align: center;
	}
	.text2 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		margin-top: 30px;
		text-align: center;
	}
	.text2 .music-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		margin-top: 30px;
		text-align: center;
	}
	.micky-img-top {
		width: 100%;
	}
	.micky-img .news-concert1 {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.4em;
		text-align: center;
	}
	.img-text .xmas-img-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 600;
		font-size: 1.5em;
		text-align: center;
	}
	.micky-img {
		background-color: #EEEEEE;
	}
	.news-img-text2 li {
		color: #ffffff;
		background-color: #81D4FA;
	}
	.nes-date {
		padding: 60px;
	}
	.img-text {
		padding: 30px;
		background-color: #EFEBE9;
		margin-bottom: 10px;
	}
	.news-img-text3 {
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1em;
	}
	.text2 .img-body {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 0.9em;
		margin-top: 30px;
		text-align: center
	}
	.text2 .music-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 0.9em;
		margin-top: 30px;
		text-align: center;
	}
	.music-text1-hits {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 1.3em;
		margin-left: 30px;
	}
}