* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

* {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background-color: #e6e6fa;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

a {
	color: #DD2C00;
	font-weight: 700;
}

h2,
p {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

h4 .text-uppercase {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

.navbar-dark .bg-primary .navbar-brand {
	display: flex;
	align-items: center;
	padding: 5px;
	color: #ffffff;
}

.navbar-brand img {
	height: 100%;
	margin-right: 20px;
	width: 50%;
}

.navbar-brand {
	height: 100%;
	display: inline-block;
	margin: auto;
}

.navbar-fixed-top {
	padding-top: 20px;
	background-color: #263238;
	min-height: 150px;
}

.logo {
	max-width: 100%;
}

.myNavbar {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

img {
	max-width: 100%;
}

.coverImg {
	margin-top: 250px;
}

.featured-text {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.newsImg {
	margin-top: 250px;
	background-color: #C5CAE9;
}

ul li button {
	color: white;
	background-color: black;
	margin-top: 25px;
}

.hit-music {
	margin-top: 150px;
}

.music-image {
	height: 500px;
	width: 100%;
	background-image: url("../images/concert2.jpg");
	background-size: 100% 100%;
	transition: all .5s ease-in-out;
}

.card-img-overlay p {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 18px;
}

.img-responsive {
	margin: 0 auto;
	size: 100%;
}

.genImage {
	width: 50%;
	height: 50%;
	border-radius: 25%;
}

.card-title {
	color: #000000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 2em;
}

.news-concert {
	color: #000000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 2em;
}

ul li a {
	color: #ffffff;
}

ul li a:hover {
	text-decoration: none;
	color: #1A237E;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

.collapse .navbar-collapse {
	color: #ffffff;
}

.navbar-toggle .icon-bar {
	background-color: white;
}

.pt,
.mn,
.md,
.dj {
	text-decoration: none;
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.member-modal {
	text-decoration: none;
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.heading-text {
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
}


.pt:hover,
.mn:hover,
.md:hover,
.dj:hover {
	text-decoration: none;
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

#horLine {
	border-color: #BDBDBD;
	border-width: 1px;
}

#horLine1 {
	border-color: #BDBDBD;
	border-width: 1px;
}

.hit-music {
	margin-top: 50px;
	margin-left: 130px;
	background-color: red;
}

.music-hit {
	margin-left: -72px;
}

.hits {
	background-color: grey;
}

.anniversary {
	background-color: #B0BEC5;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	padding: 25px;
}

.xmascontainer {
	background-color: #B0BEC5;
}

.card album {
	max-height: 150px;
	max-width: 150px;
}

.xmas-img {
	margin-left: 65px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.wed-img {
	margin-left: 200px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.xmas-text,
.xmas-par {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

.anniver {
	font-family: 'Lato', sans-serif;
	color: #191970;
	font-weight: 300;
}

.xmas-wed {
	text-align: center;
}



.card-group {
	max-height: 400px;
}


/* Bottom right text */

.text-block {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: #EEEEEE;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.top-img {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}

.top-img iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


/* 4x3 Aspect Ratio */

.top-img-4x3 {
	padding-top: 75%;
}

.xmas-img {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}

.xmas-img iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: relative;
	top: 10;
	width: 100%;
}

.xmas-img-4x3 {
	padding-top: 0%;
}

.wed-img {
	overflow: hidden;
	padding-top: 10%;
	position: relative;
}

.wed-img iframe {
	border: 0;
	height: 100%;
	right: 0;
	position: relative;
	top: 10;
	width: 100%;
}

.wed-img-4x3 {
	padding-top: 0%;
}

.xmas-song,
.wed-song {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.card {
	width: 18rem;
}

.text-block,
.card-text {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

blockquote .card-text {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

.card-text3,
.card-text4 {
	margin-left: -20px;
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

.news-text1 {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

blockquote .card-text6 {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

footer .card-text2 {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 300;
	background-color: blue;
}

footer .show {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 300;
	background-color: blue;
}

footer .website,
.ocean {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 300;
	background-color: blue;
}

.text-block p {
	color: #000;
}

.tour-text,
.fan-text,
.news-text,
.music-text {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.tour-text:hover,
.fan-text:hover,
.news-text:hover,
.music-text:hover {
	text-decoration: none;
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

.text-muted {
	text-decoration: none;
	color: #BF360C;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.text-block a:hover {
	text-decoration: none;
	color: #1A237E;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

h5 .card-title {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.43em;
}

.btn,
.jumbotron,
.display-4 {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 700;
}

.btn {
	color: white;
	background-color: #424242;
	border-radius: 25%;
	padding: 5px;
}

.lead {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 500;
}

.album {
	display: inline;
}

.card,
.album {
	float: left;
	width: 33.33%;
	padding: 5px;
}


/* Clearfix (clear floats) */

.card-group::after {
	content: "";
	clear: both;
	display: table;
}


/** Footer --------------------------------------------------------------------------*/

footer {
	color: #ffffff;
	min-height: 150px;
	display: block;
	margin-top: 30px;
	padding: 5px;
	background-color: #263238;
}

#footerPage {
	clear: both;
	text-align: center;
}

.footer-text {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 300;
	padding-top: 50px;
	text-align: left;
	margin-left: 50px;
}

.footer-text a {
	color: #ffffff;
	text-decoration: none;
}

.media-links {
	padding-top: 50px;
	margin-right: 25px;
}

.media-links li a i {
	width: 40px;
	height: 40px;
	padding: 15px 0;
	border-radius: 50%;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
	color: #0000cd;
	background: #e0ffff;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

.media-links li a i:hover {
	background: #4DB6AC;
	text-decoration: none;
	transition: all 0.50s ease-in-out;
	-moz-transition: all 0.50s ease-in-out;
	-webkit-transition: all 0.50s ease-in-out;
	-o-transition: all 0.50s ease-in-out;
}

.signIndent {
	margin-top: 30px;
	font-size: 1.14em;
}

.leftIndent {
	margin-right: 25px;
	margin-top: -10px;
}

.menuIndent {
	margin-right: 25px;
}


/* -----------------------------------------------------------tooltip---*/

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted red;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/*------------------------------------------------------------News---*/

.news-title {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 600;
	font-size: 1.43em;
}


/*-------------------------------------------------------------Music--*/

.hits {
	margin-left: 150px;
}

.card-text-music {
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 1.5em;


}

.video-stack2 {
	margin-right: 50px;
}

.music-title {
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-weight: 300;
}


/* --------------------------------------------------------------------Fan-----*/

/* Style the content */

.post {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #c0c0c0;
}

.post-text {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}

.post-text2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

.header-text {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.order-text {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.ord-frm {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #9FA8DA;
}

.fan-sec {
	margin-top: 250px;
	display: -webkit-flex;
	display: flex;
	background-color: green;
}

article {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	background-color: red;
	padding: 10px;
}

.order-text {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.ord-frm {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-color: #9FA8DA;
}

.fan-sec {
	margin-top: 250px;
	display: -webkit-flex;
	display: flex;
	background-color: green;
}



/* --------------------------------------------------------------------End Fan-----*/

.video-header {
	text-align: center;
	padding: 15px;
}

.video-header2 {
	text-align: center;
	padding-right: 300px;
}

.video-row {
	display: -ms-flexbox;
	/* IE10 */
	display: flex;
	-ms-flex-wrap: wrap;
	/* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
	margin-left: 150px;
}

.learn-fan-text {
	font-family: 'Lato', sans-serif;
	color: #B71C1C;
	font-weight: 700;
	font-size: 1.5em;
}

.learn-fan-text:hover {
	font-family: 'Lato', sans-serif;
	color: #8a2be2;
	font-weight: 700;
	font-size: 1.5em;
	text-decoration: none;
}


/* Create four equal columns that sits next to each other */

.video-col {
	-ms-flex: 25%;
	/* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.video-col img {
	margin-top: 8px;
	vertical-align: middle;
}


/*-----------------------------------------------------------------contact-----*/

.contact-text-body {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #4A148C;
}

.contact-text-body a:hover {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
	color: #880E4F;
}

.contact-text-body p a {
	color: #1A237E;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.contact-text {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

.member-name {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}


/* Responsive layout - makes a two column-layout instead of four columns */

/*@media (max-width: 600px) {*/
/*	.fan-sec {*/
/*		-webkit-flex-direction: column;*/
/*		flex-direction: column;*/
/*		background-color: blue;*/
/*	}*/
/*}*/

/*@media screen and (max-width: 800px) {*/
/*	.video-col {*/
/*		-ms-flex: 50%;*/
/*		flex: 50%;*/
/*		max-width: 50%;*/
/*	}*/
/*	.ptImage {*/
/*		width: 40%;*/

/*	}*/
/*	.mnImage {*/
/*		width: 40%;*/

/*	}*/
/*	.mdImage {*/
/*		width: 40%;*/

/*	}*/
/*	.djImage {*/
/*		width: 40%;*/

/*	}*/
/*	.genImage {*/
/*		width: 40%;*/
/*	}*/

/*}*/


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

/*@media screen and (max-width: 600px) {*/

/*	.video-col {*/

/*		-ms-flex: 100%;*/

/*		flex: 100%;*/

/*		max-width: 100%;*/

/*	}*/

/*	.ptImage {*/

/*		width: 40%;*/

/*	}*/

/*	.mnImage {*/

/*		width: 40%;*/

/*	}*/

/*	.mdImage {*/

/*		width: 40%;*/

/*	}*/

/*	.djImage {*/

/*		width: 40%;*/

/*	}*/

/*	.genImage {*/

/*		width: 40%;*/

/*	}*/

/*}*/

/*    -------------------------------------------------------------------------------------end music -*/

/* Responsive layout - makes a two column-layout instead of four columns */

/*@media screen and (max-width: 800px) {*/

/*	.column {*/

/*		-ms-flex: 50%;*/

/*		flex: 50%;*/

/*		max-width: 50%;*/

/*	}*/

/*	.ptImage {*/

/*		width: 40%;*/

/*	}*/

/*	.mnImage {*/

/*		width: 40%;*/

/*	}*/

/*	.mdImage {*/

/*		width: 40%;*/

/*	}*/

/*	.djImage {*/

/*		width: 40%;*/

/*	}*/

/*	.genImage {*/

/*		width: 40%;*/

/*	}*/

/*}*/

/*@media (max-width: 768px) {*/

/*	.text-block {*/

/*		width: 40%;*/

/*		height: 40%;*/

/*		margin-top: 150px;*/

/*	}*/

/*	body {*/

/*		background-color: green;*/

/*	}*/

/*	.heading-text {*/

/*		font-size: 0.9em;*/

/*	}*/

/*	.ptImage {*/

/*		width: 30%;*/

/*	}*/

/*	.mnImage {*/

/*		width: 30%;*/

/*	}*/

/*	.mdImage {*/

/*		width: 30%;*/

/*	}*/

/*	.djImage {*/

/*		width: 30%;*/

/*	}*/

/*	.genImage {*/

/*		width: 30%;*/

/*	}*/

/*	.contact-text,*/

/*	.card-title8,*/

/*	.card-text8 {*/

/*		font-size: 1.7em;*/

/*	}*/

/*	.tour-text,*/

/*	.fan-text,*/

/*	.news-text {*/

/*		color: #000;*/

/*		font-family: 'Lato', sans-serif;*/

/*		font-weight: 500;*/

/*		font-size: 0.8em;*/

/*	}*/

/*	.news-text1 {*/

/*		color: #000;*/

/*		font-family: 'Lato', sans-serif;*/

/*		font-weight: 500;*/

/*		font-size: 1em;*/

/*	}*/

/*	.music-text {*/

/*		color: #000;*/

/*		font-family: 'Lato', sans-serif;*/

/*		font-weight: 700;*/

/*		font-size: 1em;*/

/*	}*/

/*	.music-text1 {*/

/*		color: #000;*/

/*		font-family: 'Lato', sans-serif;*/

/*		font-weight: 300;*/

/*		font-size: 1em;*/

/*	}*/

/*	.post-text {*/

/*		font-size: 1.5em;*/

/*	}*/

/*	.jumbotron,*/

/*	.display-4 {*/

/*		font-family: 'Lato', sans-serif;*/

/*		color: #000;*/

/*		font-weight: 700;*/

/*		font-size: 2em;*/

/*	}*/

/*	.jumbotron,*/

/*	.lead {*/

/*		font-family: 'Lato', sans-serif;*/

/*		color: #000;*/

/*		font-weight: 700;*/

/*		font-size: 1.4em;*/

/*	}*/

/*	.my-4 {*/

/*		font-size: 1em;*/

/*	}*/

/*	.post-text2 {*/

/*		font-size: 1em;*/

/*	}*/

/*	.img-responsive {*/

/*		width: 100%;*/

/*	}*/

/*	.xmas-song,*/

/*	.wed-song {*/

/*		font-family: 'Lato', sans-serif;*/

/*		font-weight: 700;*/

/*		font-size: 1.3em;*/

/*		color: #000;*/

/*	}*/

/*	.wed-body {*/

/*		font-size: 1em;*/

/*	}*/

/*	.merry-body {*/

/*		font-size: 1em;*/

/*	}*/

/*	.anniversary .card-title {*/

/*		font-size: 1em;*/

/*	}*/

/*	.news-concert {*/

/*		font-size: 1.2em;*/

/*	}*/

/*	.read-text {*/

/*		background-color: #B0BEC5;*/

/*	}*/

/*	a {*/

/*		color: #DD2C00;*/

/*		font-weight: 700;*/

/*	}*/

/*	.wed-img {*/

/*		margin-right: 25px;*/

/*	}*/

/*	.xmas-img {*/

/*		font-size: 1.5em;*/

/*		margin-left: -5px;*/

/*	}*/

/*	.card-body .card-title {*/

/*		font-size: 1em;*/

/*		color: #000;*/

/*	}*/

/*}*/

@media (min-width: 768px) and (max-width: 991px) {
	.text-block {
		width: 35%;
		height: 45%;
		margin-top: 157px;
	}
	body {
		background-color: #E1F5FE;

	}
	header {
		font-size: 1.4em;
	}
	.video-stack2 {
		margin-left: -10px;
	}

	.video-row2 {
		margin-right: 10px;
	}
	.audio-text2 {
		/*font-size: 5vw;*/
		text-align: center;
	}
	.music-text {
		font-size: 1em;
		color: pink;
	}
	.ptImage {
		width: 40%;

	}
	.mnImage {
		width: 40%;

	}
	.mdImage {
		width: 40%;

	}
	.djImage {
		width: 40%;

	}
	.genImage {
		width: 40%;
	}
	.coverImg {
		margin-top: 285px;
	}
	.contact-text,
	.card-title8,
	.card-text8 {
		font-size: 2.5em;
	}
	.tour-text,
	.fan-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
	}
	.news-text {
		font-size: 1em;
	}

	.music-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 3em;
	}
	.card-text-music {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2.5em;

	}
	.post-text {
		font-size: 2.5em;
	}

	.my-4 {
		font-size: 2em;
	}
	.form-text {
		font-size: 1.5em;
	}
	.post-text2 {
		font-size: 1.5em;
	}
	.name-text {
		font-size: 0.9em;
	}
	.card-title {
		font-size: 1.5em;
	}
	.card-text {
		font-size: 1.4em;
	}
	.card-img-bottom {
		width: 100%;
	}
	.heading-text {
		font-size: 1.5em;
	}
	.member-name,
	.member-model {
		font-size: 1.5em;
	}
	.modal-body {
		font-size: 1.5em;
	}
	.card-body .card-text3 {
		font-size: 1.5em;
	}
	.card-text4 {
		font-size: 0.8em;
		margin-left: 5px;
	}
	small {
		font-size: 1.3em;
	}

	img {
		width: 100%;
	}
	#footerPage {
		font-size: 1.5em;
	}
	.member-modal {
		font-size: 1.5em;
	}
	.album .news-text1 {
		font-size: 1.6em;
		color: #B71C1C;
	}
	.card-body .news-text1 {
		font-size: 1em;
		color: #B71C1C;
	}
	a {
		color: #DD2C00;
		font-weight: 700;
	}

	.wed-body {
		font-size: 1.2em;
	}
	.merry-body {
		font-size: 0.8em;
	}

	.card-body .news-text2 {
		font-size: 1.5em;
	}
	.card-text-music {
		font-size: 1.2em;
	}
	.music-text {
		font-size: 1.2em;
	}
	.featured-text {
		font-size: 2.5em;
	}
	.member-name {
		font-size: 2em;
	}


	.wed-song {
		font-size: 1.8em;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #000;
	}
	.xmas-song {
		font-size: 1.8em;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #000;
	}
	.wed-body {
		font-size: 1.6em;
	}
	.merry-body {
		font-size: 1.6em;
	}
	.learn-text1 {
		color: #000;

		font-family: 'Lato', sans-serif;

		font-weight: 500;

		font-size: 1.5em;

	}
	.learn-fan-text {
		font-family: 'Lato', sans-serif;
		color: #B71C1C;
		font-weight: 700;
		font-size: 1.2em;
	}
	.learn-fan-text:hover {
		font-family: 'Lato', sans-serif;
		color: #8a2be2;
		font-weight: 700;
		font-size: 1.2em;
		text-decoration: none;
	}
	.jumbotron .lead {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 500;
		font-size: 2em;

	}

	.card-body .news-text1 {
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2em;

	}
	.card-body .news-text2 {
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2em;

	}
	.wed-img {
		margin-left: 75px;
	}



}

@media (min-width: 992px) and (max-width: 1024px) {
	.text-block {
		width: 35%;
		height: 45%;
		margin-top: 157px;
	}
	body {
		background-color: #E0F2F1;

	}
	header {
		font-size: 1.5em;
	}
	.video-stack2 {
		margin-left: -10px;
	}

	.video-row2 {
		margin-right: 10px;
	}
	.audio-text2 {
		/*font-size: 5vw;*/
		text-align: center;
	}
	.music-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2.5em;
	}
	.card-text-music {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 2em;

	}
	.ptImage {
		width: 40%;

	}
	.mnImage {
		width: 40%;

	}
	.mdImage {
		width: 40%;

	}
	.djImage {
		width: 40%;

	}
	.genImage {
		width: 70%;
	}
	.coverImg {
		margin-top: 285px;
	}
	.contact-text,
	.card-title8,
	.card-text8 {
		font-size: 2.5em;
	}
	.tour-text,
	.fan-text {
		color: #000;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.5em;
	}

	
	
	.post-text {
		font-size: 2.5em;
	}

	.my-4 {
		font-size: 2em;
	}
	.form-text {
		font-size: 1.5em;
	}
	.post-text2 {
		font-size: 1.5em;
	}
	.name-text {
		font-size: 0.9em;
	}
	.card-title {
		font-size: 1.5em;
	}
	.card-text {
		font-size: 1.4em;
	}
	.card-img-bottom {
		width: 100%;
	}
	.heading-text {
		font-size: 1.5em;
	}

	.member-model {
		font-size: 1.5em;
	}
	.modal-body {
		font-size: 1.5em;
	}
	.card-body .card-text3 {
		font-size: 1.5em;
	}
	.card-text4 {
		font-size: 0.8em;
		margin-left: 5px;
	}
	small {
		font-size: 1.3em;
	}

	img {
		width: 100%;
	}
	#footerPage {
		font-size: 1.5em;
	}

	.wed-img {
		font-size: 1.5em;
	}
	.member-name {
		font-size: 1.6em;
	}
	.featured-text {
		font-size: 2.4em
	}
	.member-modal {
		font-size: 1.8em;
	}
	.anniversary {
		font-size: 1em;
	}
	.anniversary .news-text {
		font-size: 1.2em;
	}
	.album .card-title {
		font-size: 1.4em;
	}
	.card-body .news-text1 {
		font-size: 1.6em;
	}
	a {
		color: #DD2C00;
		font-weight: 700;
	}
	.read-text {
		font-size: 1.5em;
	}
	.learn-text1 {
		color: #000;

		font-family: 'Lato', sans-serif;

		font-weight: 500;

		font-size: 1.5em;

	}
	.learn-fan-text {
		font-family: 'Lato', sans-serif;
		color: #B71C1C;
		font-weight: 700;
		font-size: 1.2em;
	}
	.learn-fan-text:hover {
		font-family: 'Lato', sans-serif;
		color: #8a2be2;
		font-weight: 700;
		font-size: 1.2em;
		text-decoration: none;
	}

	.jumbotron .lead {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 500;
		font-size: 2em;

	}
.card-body	.news-text1 {
        color: pink;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 2em;

	}
.card-body	.news-text2 {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 1.3em;

	}
	.wed-song {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1.3em;
		color: #000;
	}

	.xmas-song {

		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 2em;
		color: #000;
	}

	.wed-body {
		font-size: 1.2em;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		color: #000;
	}
	.wed-body1 {
		font-size: 2.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		
	}
	.merry-body {
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 1.8em;
		color: #000;
	}

}

@media screen and (max-width: 550px) {
	body {
		background-color: #EFEBE9;
	}
	.text-block {
		width: 40%;
		height: 75%;
		margin-top: 155px;
	}

	.ptImage {
		width: 30%;

	}
	.mnImage {
		width: 30%;

	}
	.mdImage {
		width: 30%;

	}
	.djImage {
		width: 30%;

	}
	.genImage {
		width: 30%;
	}
	.img-responsive {
		max-width: 100%;
	}
	.coverImg {
		margin-top: 285px;
	}
	.wed-song {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 1em;
		color: #000;
	}

	.xmas-song {

		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 0.7em;
		color: #000;
	}

	.wed-body {
		font-size: 0.9em;
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		color: #000;
	}
	.merry-body {
		font-family: 'Lato', sans-serif;
		font-weight: 500;
		font-size: 0.7em;
		color: #000;
	}


	.news-text2 {
		font-size: 1em;
	}
	.card-text-music {
		font-size: 1em;
	}

	.featured-text {
		font-size: 1.5em;
	}
	.member-name {
		font-size: 1.1em;
	}

	/*.card-body .card-title {*/
	/*	font-size: 1em;*/
	/*	color: pink;*/
	/*}*/
	.heading-text {

		font-size: 0.9em;

	}

	.xmas-img {

		font-size: 1.5em;

		margin-left: -5px;

	}
	.jumbotron,
	.display-4 {

		font-family: 'Lato', sans-serif;

		color: #000;

		font-weight: 700;

		font-size: 1.5em;

	}
	.contact-text,

	.card-title8,

	.card-text8 {

		font-size: 1.7em;

	}

	.tour-text,

	.fan-text,

	.news-text {

		color: #000;

		font-family: 'Lato', sans-serif;

		font-weight: 500;

		font-size: 0.9em;

	}

	.news-text1 {

		color: #000;

		font-family: 'Lato', sans-serif;

		font-weight: 500;

		font-size: 0.6em;

	}
	.learn-text1 {
		color: #000;

		font-family: 'Lato', sans-serif;

		font-weight: 500;

		font-size: 0.9em;

	}

	.music-text {

		color: #000;

		font-family: 'Lato', sans-serif;

		font-weight: 700;

		font-size: 1em;

	}

	.music-text1 {

		color: #000;

		font-family: 'Lato', sans-serif;

		font-weight: 300;

		font-size: 1em;

	}

	.post-text {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 1.3em;

	}



	.jumbotron,

	.lead {

		font-family: 'Lato', sans-serif;

		color: #000;

		font-weight: 700;

		font-size: 1.4em;

	}

	.post-text2 {
		font-size: 0.9em;
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 500;

	}


	.anniversary .card-title {

		font-size: 1em;

	}

	.news-concert {

		font-size: 1.2em;

	}

	.read-text {

		background-color: #B0BEC5;

	}

	a {

		color: #DD2C00;

		font-weight: 700;

	}

	.wed-img {

		margin-right: 25px;

	}

	.xmas-img {

		font-size: 1.5em;

		margin-left: -5px;

	}

	.read-text {
		font-family: 'Lato', sans-serif;
		color: #B71C1C;
		font-weight: 700;
		font-size: 0.9em;
	}
	.display-fan {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 700;
		font-size: 1.2em;

	}
	.jumbotron .lead {
		font-family: 'Lato', sans-serif;
		color: #000;
		font-weight: 500;
		font-size: 0.9em;

	}
	.learn-fan-text {
		font-family: 'Lato', sans-serif;
		color: #B71C1C;
		font-weight: 700;
		font-size: 0.8em;
	}
	.learn-fan-text:hover {
		font-family: 'Lato', sans-serif;
		color: #8a2be2;
		font-weight: 700;
		font-size: 0.8em;
		text-decoration: none;
	}


}
